name: Package For Windows

on:
  push:
    branches:
      - master
      
jobs:
  package:
    name: Package Release
    runs-on: windows-latest
    steps:
    - name: Checkout Repo
      uses: actions/checkout@master
    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v3
    - name: Install Poppler
      shell: bash -l {0}
      run: conda install -c conda-forge liblzma expat poppler -y
    - name: Run Package Script
      shell: bash -l {0}
      run: ./package.sh
      env:
        PKGS_PATH_DIR: /c/Users/runneradmin/conda_pkgs_dir
    - name: Zip Release
      run: Compress-Archive D:\a\poppler-windows\poppler-windows\poppler-${{ env.POPPLER_VERSION }} Release-${{ env.POPPLER_VERSION }}-${{ env.BUILD }}.zip
      shell: pwsh
    - name: Create tag
      id: tag_version
      uses: mathieudutour/github-tag-action@v6.2
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        custom_tag: ${{ env.POPPLER_VERSION }}-${{ env.BUILD }}
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.tag_version.outputs.new_tag }}
        release_name: Release ${{ env.POPPLER_VERSION }}-${{ env.BUILD }}
        draft: false
        prerelease: false
    - name: Upload Release Asset
      id: upload-release-asset 
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: D:\a\poppler-windows\poppler-windows\Release-${{ env.POPPLER_VERSION }}-${{ env.BUILD }}.zip
        asset_name: Release-${{ env.POPPLER_VERSION }}-${{ env.BUILD }}.zip
        asset_content_type: application/zip
